<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="home.html">
            <img src="../assets/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="input-header">
                <input class="form-control me-2" type="search" placeholder="Nick name/ URL" aria-label="Search">
                <button class="btn btn-outline" type="submit">
                    <i class="fa-solid fa-search"></i>
                </button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Cộng đồng</a>
                </li>
                <div class="straight-line"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lĩnh vực</a>
                </li>
                <div class="straight-line"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">BXH</a>
                </li>
                <div class="straight-line"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-comment" style="font-size: 1.73em;"></i>
                        <div class="is-badge">2</div>
                    </a>
                    <ul class="dropdown-menu dropdown-chat">
                        <div class="arrow-dropdown"></div>
                        <div class="dropdown-body">
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-chat">
                                        <div class="chat-from">
                                            <div>Mai Trang Huỳnh</div>
                                            <div class="chat-datetime">5 tháng trước</div>
                                        </div>
                                        <div class="message-info">
                                            <i class="fa-solid fa-reply"></i>
                                            Vào game không anh ơi ?
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-chat">
                                        <div class="chat-from">
                                            <div>Mai Trang Huỳnh</div>
                                            <div class="chat-datetime">5 tháng trước</div>
                                        </div>
                                        <div class="message-info">
                                            <i class="fa-solid fa-reply"></i>
                                            Vào game không anh ơi ?
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-chat">
                                        <div class="chat-from">
                                            <div>Mai Trang Huỳnh</div>
                                            <div class="chat-datetime">5 tháng trước</div>
                                        </div>
                                        <div class="message-info">
                                            <i class="fa-solid fa-reply"></i>
                                            Vào game không anh ơi ?
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-chat">
                                        <div class="chat-from">
                                            <div>Mai Trang Huỳnh</div>
                                            <div class="chat-datetime">5 tháng trước</div>
                                        </div>
                                        <div class="message-info">
                                            <i class="fa-solid fa-reply"></i>
                                            Vào game không anh ơi ?
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-chat">
                                        <div class="chat-from">
                                            <div>Mai Trang Huỳnh</div>
                                            <div class="chat-datetime">5 tháng trước</div>
                                        </div>
                                        <div class="message-info">
                                            <i class="fa-solid fa-reply"></i>
                                            Vào game không anh ơi ?
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                        </div>
                    </ul>
                </li>
                <div class="straight-line"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-earth-americas" style="font-size: 1.73em;"></i>
                        <div class="is-badge">5</div>
                    </a>
                    <ul class="dropdown-menu dropdown-notification">
                        <div class="arrow-dropdown"></div>
                        <div class="dropdown-body">
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-noti">
                                        <div class="noti">
                                            <span>Mai Trang Huỳnh</span> đã donate cho bạn <span>40.000đ</span>
                                            với lời nhắn: <span>Vote hat hay.</span>
                                        </div>
                                        <div class="noti-datetime">5 tháng trước</div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-noti">
                                        <div class="noti">
                                            <span>Mai Trang Huỳnh</span> đã donate cho bạn <span>40.000đ</span>
                                            với lời nhắn: <span>Vote hat hay.</span>
                                        </div>
                                        <div class="noti-datetime">5 tháng trước</div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-noti">
                                        <div class="noti">
                                            <span>Mai Trang Huỳnh</span> đã donate cho bạn <span>40.000đ</span>
                                            với lời nhắn: <span>Vote hat hay.</span>
                                        </div>
                                        <div class="noti-datetime">5 tháng trước</div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-noti">
                                        <div class="noti">
                                            <span>Mai Trang Huỳnh</span> đã donate cho bạn <span>40.000đ</span>
                                            với lời nhắn: <span>Vote hat hay.</span>
                                        </div>
                                        <div class="noti-datetime">5 tháng trước</div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <div class="item-noti">
                                    <div class="avatar">
                                        <img src="../assets/images/ava2.png" alt="">
                                    </div>
                                    <div class="info-noti">
                                        <div class="noti">
                                            <span>Mai Trang Huỳnh</span> đã donate cho bạn <span>40.000đ</span>
                                            với lời nhắn: <span>Vote hat hay.</span>
                                        </div>
                                        <div class="noti-datetime">5 tháng trước</div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                            </li>
                        </div>
                    </ul>
                </li>
                <div class="straight-line"></div>
                <li class="nav-item account-item dropdown">
                    <div class="img-avatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/images/avatar.png" alt="">
                    </div>
                    <div class="user-info" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div>Ngọc Linh</div>
                        <div class="money">155.000 đ</div>
                    </div>
                    <ul class="dropdown-menu dropdown-info">
                        <div class="arrow-dropdown-setting"></div>
                        <div class="dropdown-setting">
                            <li>
                                <div class="body-setting-dropdown">
                                    <div class="user-id">
                                        ID: <span>7hd7yas7ha7dgas7gda76asga</span>
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/plus.png" alt="">
                                        Nạp tiền
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/clock.png" alt="">
                                        Lịch sử giao dịch
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/friend.png" alt="">
                                        Danh sách theo dõi
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/setting.png" alt="">
                                        Cài đặt tài khoản
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/player.png" alt="">
                                        Trở thành player
                                    </div>
                                    <div class="item-setting">
                                        <img src="../assets/images/logout.png" alt="">
                                        Đăng xuất
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>