nav.navbar {
    background-color: #fff !important;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.03);
    z-index: 1000;
}

.navbar .img {
    width: 100%;
}

.navbar .input-header {
    min-width: 297px;
    height: 43px;
    position: relative;
}

.navbar .navbar-nav {
    align-items: center;
}

.input-header input {
    width: 100%;
    height: 43px;
    border-radius: 40px;
    min-width: 297px;
    background-color: #185ADD;
    color: #8DB3FF !important;
}

.input-header input:focus {
    background-color: #185ADD;
}

.input-header input::placeholder {
    color: #8DB3FF;
    padding-left: 20px;
}

.input-header button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C3EA0;
    border-color: #0C3EA0;
}

.input-header button i {
   color: #8DB3FF;
}

.input-header button:hover {
    color: #0C3EA0;
    border-color: #8DB3FF;
}

.navbar-nav .nav-item a {
    color: #333 !important;
    padding: 0 10px;
}

.navbar-nav .nav-item {
    padding:0 24px;
    text-align: center;
    line-height: 32px;
}

.navbar-nav .nav-item:last-child {
    padding:0 24px;
    text-align: center;
    border-right: none;
    line-height: 14px;
}

.navbar-nav .nav-item.dropdown {
    position: relative;
}

.navbar-nav .nav-item.dropdown i {
    color: #185ADD;
}

.is-badge {
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 24px;
}

.account-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 69px;
}

.img-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    line-height: 20px;
}

.user-info .money {
    font-weight: 700;
    color: #4981F1;
}

.straight-line {
    height: 20px;
    width: 2px;
    background: #C1C1C1;
}

@media (max-width: 992px) {
    .straight-line {
        height: 2px;
        width: 40px;
        background: #C1C1C1;
    }

    .navbar-nav .nav-item {
        height: 40px;
        margin: 10px 0;;
    }

    .nav-item.dropdown {
        width: 30px;
        padding: 0;
    }

    .is-badge {
        right: -12px;
    }

    .dropdown-menu {
        visibility: hidden;
    }
}